* {
	font-family: Garamond;
	color: gray;
	text-decoration: none;
	letter-spacing: .1px;
}
h1{
	font-size: 1.6em;
}
#text {
	margin-top: 15vw;
	margin-left: 15vw;
	width: 40vw;
	min-width: 300px;
	
	font-size: 0.9em;
	line-height: 160%;

}

a:hover {
	background: silver;
	color: white;
	cursor: pointer;
}
